.contact {
    background-color: #F4F3FE;
    text-align: center;
    padding: 1.5rem;
}

.contact h1 {
    font-size: 24px;
    font-weight: 300;
    font-family: "Poppins";
    letter-spacing: 1.5px;
    line-height: 115%;
}



.contact p {
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins";
    letter-spacing: 1.5px;
    line-height: 115%;
}

.contact .contactSpan {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.contact span {

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins";
    letter-spacing: 1.5px;
    line-height: 115%;
}

.about {
    width: 80%;
    margin: auto;
}

.about h2 {
    font-size: 32px;
    font-weight: 300;
    font-family: "Poppins";
    letter-spacing: 1.5px;
    line-height: 115%;
}
.about p {
    font-size: 18px;
    font-weight: 300;
    font-family: "Poppins";
    letter-spacing: 1px;
    line-height: 160%;
}