.terms {
    font-family: "DM Sans";
    margin: auto;
    width: 80%;
    padding:2rem;

}

.terms80 {
    width: 80%;
    margin: auto;
}

.terms h1 {
    text-align: center;
    color: #303030;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0.6rem;
}

.terms p {
    color: #303030;
    font-weight: 300;
    font-size: 16px;    
    margin: 0;
    line-height: 200%;
}


.Welcome {
    color: #303030;
    font-weight: 300;
    font-size: 20px;
    /* line-height: 100%; */
}

.Eligibility h2 {
    color: #303030;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}

.Eligibility p {
    color: #303030;
    font-weight: 300;
    font-size: 17px; 
    margin: 0;
    line-height: 200%;
}